{% extends 'base.html' %}
{% load static %}
{% block main_area %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="contain">
    <div id="register_box">
        <h1>회원가입</h1>
        <form id="register_form" action="" method="POST">
            {% csrf_token %}
            <!-- 이메일 -->
            <div class="register_form_group">
                이메일 : <input type="email" class="register_form_control" id="email" placeholder="이메일" name="email">
            </div>
            <br>
            <!-- 비밀번호 -->
            <div class="register_form_group">
               비밀번호 : <input type="password" class="register_form_control" id="password1" placeholder="비밀번호" name="password1">
            </div>
            <br>
            <!-- 비밀번호 확인 -->
            <div class="register_form_group">
                비밀번호 확인: <input type="password" class="register_form_control" id="password2" placeholder="비밀번호 확인" name="password2">
            </div>
            <br>
            <!-- 별명 -->
            <div class="register_form_group">
               닉네임 : <input type="text" class="register_form_control" id="nickname" placeholder="닉네임" name="nickname">
            </div>
            <input type="submit" value="회원가입" class="submit_button">
        </form>
    </div>
</div>
{% endblock %}